@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {

    html,
    body,
    #root {
        @apply h-full text-white
    }

    #root {
        @apply flex flex-col
    }

    .wrapper {
        height: calc(100% - theme('spacing.24'));
        @apply flex
    }

    .apple-logo {
        background-image: url("https://accounts.scdn.co/sso/images/apple-icon.36286be565c1ca3ac9b60243f8e0a78b.svg");
        background-size: cover;

    }

    .b0NcxAbHvRbqgs2S8QDg {
        grid-area: 1/1/2/2;
    }

    .hFEdcY {
        fill: #3d91f4;
    }

    :root {
        --nav-bar-width: 232px;
        --background-noise: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGZpbHRlcj0idXJsKCNhKSIgb3BhY2l0eT0iLjA1IiBkPSJNMCAwaDMwMHYzMDBIMHoiLz48L3N2Zz4=);
        --buddy-feed-width: 270px;
    }

    .bg-gradient-artist {
        background-image: linear-gradient(rgba(0, 0, 0, .6) 0, #121212 100%), var(--background-noise);
    }

    .slick-next {
        right: -230px !important;
    }

    .artist-popup-banner {
        position: absolute;
        height: 500px;
        z-index: 99;
        width: 100%;
        top: 500px;
    }

    .bg-artist-page {
        width: 100%;
        height: 428px;
        background-image: url('https://wallpaperaccess.com/full/2688005.jpg');
        background-repeat: no-repeat;
        position: relative;
        background-size: cover;
    }

    .bn2UNQDs5GLY5rjp5Ljh {
        background-color: #fff;
        border-radius: 50%;
        height: 60%;
        justify-self: center;
        width: 60%;
    }

    .b0NcxAbHvRbqgs2S8QDg {
        grid-area: 1/1/2/2;
    }

    .CmR9tHJ5ta6oWJlKBm3k {
        align-items: center;
        display: inline-grid;
        gap: 8px;
        grid-template-columns: auto 1fr;
    }

    .button-class {
        border: 3px solid white;
        padding: 3px;
    }

    .button-class:hover {
        padding: 3px;
        border-radius: 500px;
        border: 3px solid black;
        opacity: 50;
    }

    .login-input:focus {
        outline: none;
        border: 3px solid black;
    }

    .loading {
        height: 30px;
        width: 100px;
    }

    .bg-gradient {
        background: transparent linear-gradient(181deg, #201b50 15%, #121212 61%) 0 0 no-repeat padding-box
    }

    .bg-ls {
        background: rgb(80, 56, 160);
    }

    .ls-hover {
        background: rgba(255, 255, 255, .1);
    }

    .ls-selected {
        background: rgba(255, 255, 255, .3);
    }

    .likedSongsImg {
        box-shadow: 0px 0px 7px 7px rgb(0 0 0 / 19%);
    }

    .bg-ls-p {
        background: transparent linear-gradient(180deg, #1D1639 0%, #121212 50%) 0 0 no-repeat padding-box;
    }

    .no-outline {
        outline: 2px solid transparent;
        outline-offset: 2px;
    }

    .buttonAnimation {
        top: 300px;
    }

    .bg-special {
        background: transparent linear-gradient(355deg, #0000 -3%, rgba(210, 0, 0, .6352941176470588) 77%) 0 0 no-repeat padding-box;
    }

    .bg-special-1 {
        background: transparent linear-gradient(355deg, #0000 -3%, rgb(110 94 235) 77%) 0 0 no-repeat padding-box;
    }

    .blob {
        border-radius: 50%;
        background-color: #4f4f4f;
        display: block;
        float: left;
        margin: 5px 2px;
        position: relative;
        top: 5px;
        height: 20px;
        width: 20px;

        -webkit-animation: loading-blob 1.2s infinite;
        -moz-animation: loading-blob 1.2s infinite;
        -o-animation: loading-blob 1.2s infinite;
        animation: loading-blob 1.2s infinite;

        -webkit-animation-timing-function: ease-in-out;
        -moz-animation-timing-function: ease-in-out;
        -ms-animation-timing-function: ease-in-out;
        -o-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;

        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    @-webkit-keyframes loading-blob {
        0% {
            height: 20px;
            top: 5px;
            width: 20px;
        }

        25% {
            height: 30px;
            top: 0;
            width: 30px;
        }

        50% {
            height: 20px;
            top: 5px;
            width: 20px;
        }

        100% {
            height: 20px;
            width: 20px;
        }
    }

    @-moz-keyframes loading-blob {
        0% {
            height: 20px;
            top: 5px;
            width: 20px;
        }

        25% {
            height: 30px;
            top: 0;
            width: 30px;
        }

        50% {
            height: 20px;
            top: 5px;
            width: 20px;
        }

        100% {
            height: 20px;
            width: 20px;
        }
    }

    @-o-keyframes loading-blob {
        0% {
            height: 20px;
            top: 5px;
            width: 20px;
        }

        25% {
            height: 30px;
            top: 0;
            width: 30px;
        }

        50% {
            height: 20px;
            top: 5px;
            width: 20px;
        }

        100% {
            height: 20px;
            width: 20px;
        }
    }

    @keyframes loading-blob {
        0% {
            height: 20px;
            top: 5px;
            width: 20px;
        }

        25% {
            height: 30px;
            top: 0;
            width: 30px;
        }

        50% {
            height: 20px;
            top: 5px;
            width: 20px;
        }

        100% {
            height: 20px;
            width: 20px;
        }
    }

    .blob2 {
        -webkit-animation-delay: 150ms;
        -moz-animation-delay: 150ms;
        -o-animation-delay: 150ms;
        animation-delay: 150ms;
    }

    .blob3 {
        -webkit-animation-delay: 300ms;
        -moz-animation-delay: 300ms;
        -o-animation-delay: 300ms;
        animation-delay: 300ms;
    }

    .show {
        opacity: 1;
    }

    .hide {
        opacity: 0;
    }

    .displayNone {
        display: none !important;
    }

    .artist-about-bg {
        background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%), url("https://i.scdn.co/image/374b48abf3af2b3fa5940ee838263c63df248a4e");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .display {
        display: block !important;
    }

    .bottomAlert:after {
        border-bottom: 10px solid var(--background-base);
    }

    .bottomAlert:after {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        bottom: -29px;
        content: "";
        max-width: 20px;
        position: absolute;
        right: calc(50% - 10px);
    }

    .custom-transform {
        transform: rotate(25deg) translate(18%, -2%);
    }



    .scrollbar::-webkit-scrollbar {
        width: 20px;
        height: 20px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: #f7f4ed;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #e0cbcb;
        border-radius: 100vh;
        border: 3px solid #f6f7ed;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #c0a0b9;
    }
}